<div fxLayout="row" fxLayoutGap="16px" *ngIf="isaddComponents">
    <button mat-raised-button color="primary" (click)="coorindateBuilds()">Generate builds</button>
    <button mat-raised-button color="warn">Reset all</button>
    <button mat-raised-button color="accent" (click)="onUnitTestClick()">Unit Test</button>

</div>
<br>
<div class="component-container" *ngIf="isaddComponents">
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">

        <mat-card class="example-card" *ngFor="let component of components" fxFlex="0 1 calc(50% - 32px)"
            fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" >
            <mat-card-header>
                <div mat-card-avatar [ngClass]="component.image"></div>
                <mat-card-title>{{component.title}}</mat-card-title>
                <mat-card-subtitle>{{component.subtitle}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{component.content}}</p>
                <mat-form-field class="input-full-width">
                    <input matInput [placeholder]="component.title" id="{{ 'input-' + component.id}}">
                </mat-form-field>
                <mat-form-field class="input-partial-width">
                    <input matInput type="number" placeholder="Price" id="{{ 'price-' + component.id}}" min="0"
                        max="30000" maxlength="5">
                </mat-form-field>
                <button mat-icon-button color="accent" (click)="addComponent(component.id)">
                    <mat-icon>add_circle</mat-icon>
                </button>
                <mat-list>
                    <div class="table100 ver3 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead>
                                    <tr class="row100 head">
                                        <th class="cell100 column1"><strong>Component</strong></th>
                                        <th class="cell100 column2"><strong>Price</strong></th>
                                        <th class="cell100 column3"><strong>Rating</strong></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="table100-body js-pscroll">
                            <!-- end of table -->
                            <table>
                                <tbody>
                                    <tr class="row100 body" *ngFor="let Addcomponent of component.Addcomponents">
                                        <td class="cell100 column1">{{Addcomponent.componentText}}</td>
                                        <td class="cell100 column2">R{{Addcomponent.ComponentPrice}}</td>
                                        <td class="cell100 column3">
                                            <mat-icon>star</mat-icon>
                                            <mat-icon>star</mat-icon>
                                            <mat-icon>star</mat-icon>
                                            <mat-icon>star</mat-icon>
                                            <mat-icon>star</mat-icon>
                                        </td>
                                    </tr>
                                    <button mat-icon-button color="warn" matTooltip="Reset component"
                                        matTooltipPosition="after" (click)="resetComponent(component.id)">
                                        <mat-icon>replay</mat-icon>
                                    </button>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </mat-list>
                <h2><strong>Average: R{{component.average}}</strong></h2>
            </mat-card-content>
        </mat-card>


    </div>
</div>
<bh-buildgenerator [BuildsArray]="BuildsModel" *ngIf="isGeneratedBuilds"></bh-buildgenerator>