
  <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span><strong>Computer build generator</strong></span>
          <span class="toolbar-spacer"></span>
          <button mat-icon-button>
            <mat-icon>help</mat-icon>
        </button>
          <button mat-icon-button>
            <mat-icon>person_outline</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>settings</mat-icon>
        </button>
        </mat-toolbar-row>
      </mat-toolbar>
<br>
<div class="main-content main-container">
          <router-outlet></router-outlet>
          <!-- <bh-computerbuilder></bh-computerbuilder> -->
</div>
