
<div class="component-container">
    <br>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
            
        <mat-card class="example-card" fxFlex="0 1 calc(100% - 32px)"
        fxFlex.lt-md="0 1 calc(100% - 32px)" fxFlex.lt-sm="100%" >
        <h3><span><strong>Budget</strong></span></h3>
        <mat-card-header>
            <mat-slider
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="100000"></mat-slider>
        </mat-card-header>
        </mat-card>
     
    </div>

    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start" *ngIf="buildsActive">

        <mat-card class="example-card" *ngFor="let build of classBuildsArray" fxFlex="0 1 calc(33% - 32px)"
            fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" >
            <mat-card-header>
                <!-- <div mat-card-avatar [ngClass]="component.image"></div> -->
                <mat-card-title>{{build.BuildDefinition}}</mat-card-title>
                <mat-card-subtitle>{{build.BuildDefinition}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                    <mat-tab-group  mat-stretch-tabs class="padding">
                            <mat-tab label="Components">
                                <br>
                                <div *ngFor="let Component of build.Components" >
                                        <mat-card-header>
                                                <div mat-card-avatar [ngClass]="Component.componentImage"></div>
                                                <mat-card-title style="font-size: 10px;">{{Component.componentText}},</mat-card-title>
                                                <mat-card-subtitle style="font-size: 10px;"><strong>R{{Component.componentPrice}}</strong></mat-card-subtitle>
                                            </mat-card-header>
                                       
                                </div>
                                  
                            </mat-tab>
                            <mat-tab label="Budget"> Content 2 </mat-tab>
                            <mat-tab label="Third"> Content 3 </mat-tab>
                          </mat-tab-group>
                
                <h2><strong>Total: R{{build.Total}}</strong></h2>
            </mat-card-content>
        </mat-card>


    </div>
</div>