/*Importing default angular material css theme. */

@import "./darktheme.scss";
@import "nDefaults.scss";

//cards
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


  .ram-image{
    background-image: url('./assets/Web/Icons/013_-_Ram-512.png');
    background-size: cover;
  }

  .case-image{
    background-image: url('./assets/Web/Icons/Case-pc-desktop-cpu-computer-technology-512.png');
    background-size: cover;
  }

  .psu-image{
    background-image: url('./assets/Web/Icons/psu.jpg');
    background-size: cover;
  }

  .motherboard-image{
    background-image: url('./assets/Web/Icons/mptherbpard.jpg');
    background-size: cover;
  }

  .graphicscard-image{
    background-image: url('./assets/Web/Icons/gpu.png');
    background-size: cover;
  }

  .cpucooler-image{
    background-image: url('./assets/Web/Icons/cpucooler.png');
    background-size: cover;
  }

  
  .storage-image{
    background-image: url('./assets/Web/Icons/ssd.jpg');
    background-size: cover;
  }


